$blue-800: #1565C0;

$gray-50: #FAFAFA;

$red-700: #D32F2F;

$light-blue-a400: #00B0FF;

$blue-grey-900: #263238;
$blue-grey-800: #37474F;
$blue-grey-700: #455A64;

body {
    background-color: $gray-50;
}

#app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #calculator {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #263238;
    padding: 10px;
    box-shadow: 0px 0px 1px 1px black;
    @media (min-width: 320px) {
      width: 90%;
    }

    @media (min-width: 768px) {
      width: 40%;
    }

    @media (min-width: 1024px) {
      width: 30%;
    }


    #formula {
      flex: 1;
      color: $light-blue-a400;
      font-size: 1.4rem;
      text-align: right;
      font-family: 'Nova Mono';
    }

    #display {
      flex: 1;
      color: #FFFFFF;
      font-size: 1.7rem;
      text-align: right;
      font-family: 'Nova Mono';
    }

    #buttons {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      display: grid;
      grid-template: auto auto auto auto auto / auto auto auto auto;
      flex: 1;

      button {
        border-right: none;
        border-bottom: none;
        border-top: 1px solid black;
        border-left: 1px solid black;
        color: #FFFFFF;
        font-size: 1.4rem;
        font-family: 'Nova Mono';
        &:focus {
          outline: none;
        }
        &:hover {
          border: 0.5px solid $light-blue-a400;
          color: $light-blue-a400;
        }
      }

      #divide, #multiply, #add, #subtract {
        background-color: $blue-grey-700;
      }

      #clear, #equals {
        grid-row-end: span 2;
      }
      #equals {
        background-color: $blue-800;
      }

      #clear {
        background-color: $red-700;
      }

      #one, #two, #three, #four, #five,
       #six, #seven, #eight, #nine,#zero, #decimal {
        background-color: $blue-grey-800;
      }

      #zero {
        grid-column-end: span 2;
      }
    }
  }
   footer {
     margin-top: 1.3rem;
     font-family: 'Nova Mono';
      a {
        text-decoration: none;
        font-size: 1.3rem;
        color: $blue-grey-800;
      }
      div {
        margin: 10px;
      }
    }
}
